ComputerVision/.vs/ComputerVision/v16/Server/sqlite3/db.lock
ComputerVision/.vs/ComputerVision/DesignTimeBuild/.dtbcache
ComputerVision/.vs/ComputerVision/v16/.suo
ComputerVision/.vs/ComputerVision/v16/Server/sqlite3/storage.ide
*.suo
*.dtbcache
